src/workflows/complete generator.json
{
  "name": "complete generator",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        224,
        352
      ],
      "id": "a132b170-0694-4d3c-9853-d455a38faf87",
      "name": "Telegram Trigger",
      "webhookId": "867ec39b-40a9-4fa8-8414-1af87bf27aff",
      "credentials": {
        "telegramApi": {
          "id": "6incOTajbNgzHOBU",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.emailLink }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36"
            },
            {
              "name": "Accept",
              "value": "text/html,application/xhtml+xml"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "87a91438-5993-4815-8ce3-0990f8ce5e48",
      "name": "Fetch Email from Google Play Console",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        672,
        352
      ]
    },
    {
      "parameters": {
        "jsCode": "const html = $input.item.json.data || $input.item.json.body || '';\n\nconst emailRegex = /[a-zA-Z0-9._%+-]+@(gmail\\.com|yahoo\\.com|hotmail\\.com)/gi;\n\nconst emails = html.match(emailRegex) || [];\n\nconst uniqueEmails = [...new Set(emails.map(email => email.toLowerCase()))];\n\nreturn uniqueEmails.map(email => ({\n  json: {\n    email,\n    sourceUrl: $('Workflow Configuration')?.item?.json?.emailLink || '',\n    extractedAt: new Date().toISOString()\n  }\n}));\n"
      },
      "id": "d8a681d8-e0ce-4190-8a1a-7701a325d97e",
      "name": "Extract Email Addresses",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        352
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "10SAOQLTjJjkkKTtL_6e-jEqK0-7FJ8VQzQrlZJ020TE",
          "mode": "list",
          "cachedResultName": "new link",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10SAOQLTjJjkkKTtL_6e-jEqK0-7FJ8VQzQrlZJ020TE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10SAOQLTjJjkkKTtL_6e-jEqK0-7FJ8VQzQrlZJ020TE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $json.email }}",
            "app link": "={{ $json.sourceUrl }}",
            "time stamp": "={{ $json.extractedAt }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "app link",
              "displayName": "app link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "time stamp",
              "displayName": "time stamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "f114c679-0cef-4c5b-9305-53f9050c7830",
      "name": "Save Emails to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1120,
        256
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aiSheTshbOYcgNiD",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "={{ $('Prepare Email Content').item.json.subject }}",
        "emailType": "text",
        "message": "={{ $('Prepare Email Content').item.json.body }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "4145b357-7772-442e-853b-4da4f3b26cba",
      "name": "Send Email via Gmail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1792,
        352
      ],
      "webhookId": "f08c4c77-5619-4e21-a48d-0614b384b0d6",
      "credentials": {
        "gmailOAuth2": {
          "id": "e4I1Anx1dRVL7vWX",
          "name": "Gmail account 4"
        }
      }
    },
    {
      "parameters": {
        "content": "## Email Extraction & AI Composition Workflow\n\n",
        "height": 560,
        "width": 656
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        616,
        -48
      ],
      "typeVersion": 1,
      "id": "28d354e8-aa57-44bc-868c-d8dfb2fbea26",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "subject",
              "value": "App Publishing",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "body",
              "value": "Hello,\nI came across your App on Google play store and I have some questions to ask\nAre you the right person to discuss with?\nwould be waiting for your response \nBest Regards\n(Kazeem)",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "email",
              "value": "={{ $('Save Emails to Google Sheets').item.json.Email }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "rowNumber",
              "value": "={{ $('Save Emails to Google Sheets').item.json.row_number }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "f06e28e2-dcc0-44a8-a683-579b38aa66b7",
      "name": "Prepare Email Content",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1344,
        256
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=✅ Processing complete!\n\nTotal URLs processed: {{ $json.email }}",
        "additionalFields": {}
      },
      "id": "03e1d628-61b1-457e-a808-f7b8e27928e9",
      "name": "Send Status Update to Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1120,
        448
      ],
      "webhookId": "9dcefa01-ea2f-4f88-9736-3817177d016e",
      "credentials": {
        "telegramApi": {
          "id": "6incOTajbNgzHOBU",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $json.email }}",
              "rightValue": "0",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b723b578-a33f-49af-917f-6be3a92df9a4",
      "name": "Filter Links with Gmail",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        224,
        672
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=✅ Processing complete!\n",
        "additionalFields": {}
      },
      "id": "646a50f1-69e2-4899-b3ee-c209963db68d",
      "name": "Send Status Update to Telegram1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2016,
        256
      ],
      "webhookId": "9dcefa01-ea2f-4f88-9736-3817177d016e",
      "credentials": {
        "telegramApi": {
          "id": "6incOTajbNgzHOBU",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1568,
        352
      ],
      "id": "df93e9d3-26de-4e59-892c-5e402767265f",
      "name": "Wait",
      "webhookId": "cf1752ec-1187-445a-b0ff-0830ecacdb3a"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "emailLink",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "693439f1-34b7-4c4b-ad03-59a45c3a5f9a",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        352
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Fetch Email from Google Play Console": {
      "main": [
        [
          {
            "node": "Extract Email Addresses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Email Addresses": {
      "main": [
        [
          {
            "node": "Send Status Update to Telegram",
            "type": "main",
            "index": 0
          },
          {
            "node": "Save Emails to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Emails to Google Sheets": {
      "main": [
        [
          {
            "node": "Prepare Email Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Email Content": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Links with Gmail": {
      "main": [
        []
      ]
    },
    "Send Email via Gmail": {
      "main": [
        [
          {
            "node": "Send Status Update to Telegram1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Send Email via Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Configuration": {
      "main": [
        [
          {
            "node": "Fetch Email from Google Play Console",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "availableInMCP": false
  },
  "versionId": "f515a64f-051f-4617-b3b7-a48b467b3370",
  "meta": {
    "instanceId": "de956ecda5ea3f8af5feae4c28ae0398c5cf687e51ecfe5c77e7be17ee1a09aa"
  },
  "id": "KYXHidOjvboe9hbU",
  "tags": []
}